# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
scripts/env_vars.sh

frontend/build/*

backend/vendor/*
backend/build/*

frontend/.env
backend/.env
backend/.env.production
backend/config/.htaccess
scripts/.env
scripts/passfile.txt
uploads/*
backend/_logs/*