# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/build/*
frontend/.env.production
frontend/.env
frontend/.htaccess.production

backend/vendor/*
backend/build/*

backend/.env
backend/.env.production
backend/.htaccess.production
backend/config/*
backend/_logs/*

scripts/.env
scripts/passfile.txt
uploads/*
