<?php
if (!defined('APP_STARTED')) {
    die('Forbidden!');
}

define("DB_HOST", "localhost");
define("DB_USER", "notesee_user");
define("DB_PASSWORD", "notesee_pass");
define("DB_NAME", "sample");

define('HEADER_APP_TOKEN', 'x-app-token');

// Enable password authentication (leave this field commented to disable password)
// define('ACCESS_USER', '');
// define('ACCESS_PASSWORD', '');

// Custom name for your wiki:
define('APP_NAME', 'Notesee');

// Set the filename of the automatic homepage here
define('DEFAULT_FILE', 'index.md');
