/* # SEarchTextForm.css */
div.results {
    margin: .5em .1em;
    padding: 0.1em .3em;
    background-color: rgb(247, 247, 247);
    text-align: left;
}

div.scroll {
    height: 75vh;
    width: 98%;
    overflow-x: hidden;
    overflow-y: auto;
}