.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.half-row {
  display: inline-block;
  width: 50%;
}

.breadcrumb li {
  list-style-type: none;
  text-align: left;
}

.create-btn {
  background-color: rgb(255, 118, 118);
  margin: 0 1rem;
}

.logout-btn {
  text-align: right;
  display: inline-block;
  width: 50%;
}

.backlinks {
  vertical-align: top;
  text-align: left;
  
}
.backlinks > ul{
  list-style-type: none;
  text-align: left;
  padding: 0 2rem;
}

.favorites-list {
  text-align: left;
  
}

.favorites-list > ol {
  text-align: left;
  padding: 0 2rem;
}